header {
    background-color: rgb(238, 126, 107);
    color: #fff;
    padding: 10px 0;
}
.list-nav{
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    display: inline-flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 10px 80px; 
}
.un-li{
    color: white;
    
}
.li-img{
    align-self: flex-end;
    float: right;
    padding-left: 30px;
}
a{
    cursor: pointer;
    color: Black;
    font-size: large;
    text-decoration: none;
    
}
.nav-img{
    width: 20px;
    cursor: pointer;
    align-self: flex-start;
}
.top-container{
    background-image: linear-gradient(to right, lightpink, rgb(214, 140, 152));
    display: flex;
}
.top-text-container{
    width: 50%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: "Arial";
}
.heading{
    font-size: 40px;
    width: 100%;
}
.message{
    font-size: 13px;
}
.btn{
    width: 40%;
    background-color: rgb(238, 125, 142);
    border: 0;
    outline: none;
    color: white;
    padding: 8px 0px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.top-image{
    width: 50%;
}
.top-image-section{
    width: 100%;
}
.bottom-container{
    background-image: linear-gradient(to right, lightpink, rgb(214, 140, 152));
    padding: 5%;
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
}
.bottom-images{
    width: 50%;
    display: flex;
}
.two-images{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.image1{
    width: 100%;
    margin-bottom: 10px;
    height: 200px;
}
.bottom-height-image{
    width: 50%;
}
.bottom-text-container{
    background-color: rgb(236, 121, 100);
    padding: 5%;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
}
.small-heading{
    margin-bottom: 10px;
    font-size: 10px;
}
.nxt-heading{
    font-size: 30px;
    margin-bottom: 10px;
}
.arrow{
    display: flex;
    align-items: center;
}
.click-arrow{
    font-size: 10px;
}
.img-arrow{
    width: 20px;
    margin-left: 5px;
}

@media screen and (max-width: 576px){

.list-nav{
    flex-direction: column;
}
.un-li{
    display: none;
}
.top-container{
    flex-direction: column;
}
.top-text-container{
    width: 90%;
    order: 2;
}
.message{
    margin-bottom: 20px;
}
.heading{
    margin-bottom:10px;
}
.top-image{
    width: 100%;
    order: 1;
}
.li-img{
    align-content: flex-end;
}
.bottom-container{
    flex-direction: column;
}
.bottom-images{
    width: 100%;
    justify-content: center;
}
.image1{
    width: 100%;
}
.bottom-text-container{
    width: 90%;
    margin-top: 20px;
}
}
